Hello, {{ self.name }}!
Items:
{% for item in self.items %}
    - {{ item }}
{% end %}
Numbers: {% for number in self.numbers %}{{ number }}, {% end %}

{% if self.morning %}
    Good morning
{% else if self.evening %}
    Good evening
{% end %}
